<!DOCTYPE html>
<html>
    <head>
        <title>Yelp Camp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head> 
    <body>
        <nav class="navbar navbar-default bg-light" >
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Yelp Camp</a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right ">
                        <li class="nav-item" >
                            <a class="nav-link" href="/" >Login</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/" >Sign Up</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/" >Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        
        </nav>