<%- include("partials/header") %> 
<h1>Sign Up</h1>
<form action="/register" method="POST"> 
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <button class="btn btn-primary">Submit</button>
    

</form>
<%- include("partials/footer") %> 